<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>govetcard</title>
    <meta name="description" content="govetcard">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
    <tr>
        <td text-align="right"><b> Proxy</b></td>
        <form action="result" method="get">
            <input type="text" name="name" value="golang.org/x/text" size="30" maxlength="20">
            <input type="text" name="version" value="v0.3.2" size="30" maxlength="20">
            <input type="submit" value="Go" size="30" maxlength="20">
        </form>
        <td text-align="right"><b> Github</b></td>
        <form action="result" method="get">
            <input type="text" name="query" value="is:public language:go stars:>=200" size="30" maxlength="20">
            <input type="submit" value="Go" size="30" maxlength="20">
        </form>
    </tr>
</body>

</html>